@page "/"
@inject IAppLogger logger;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@code {

    protected override Task OnInitializedAsync()
    {
        logger.Info("Home page initialized.");
        return base.OnInitializedAsync();
    }
}
